HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/generated/hanium/highwayspring/auth/QAuth.java
src/main/generated/hanium/highwayspring/board/QBoard.java
src/main/generated/hanium/highwayspring/comment/QComment.java
src/main/generated/hanium/highwayspring/dept/QDept.java
src/main/generated/hanium/highwayspring/review/QReview.java
src/main/generated/hanium/highwayspring/school/QSchool.java
src/main/generated/hanium/highwayspring/tag/QTag.java
src/main/generated/hanium/highwayspring/user/QUser.java
